.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-items-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
